---
- name: Get server information
  hosts: debian-linux
  gather_facts: false

  tasks:
    - name: Get OS version
      become: true
      command: uname -v
      register: os_version

    - name: Show OS version
      debug:
        msg: "{{ os_version.stdout }}"

    - name: Get kernel version
      become: true
      command: uname -r
      register: kernel_version

    - name: Show kernel version
      debug:
        msg: "{{ kernel_version.stdout }}"

    - name: Get uptime
      become: true
      command: uptime
      register: uptime_out

    - name: Show uptime
      debug:
        msg: "{{ uptime_out.stdout }}"

    - name: Get memory usage
      become: true
      command: free -h
      register: mem_out

    - name: Show memory usage
      debug:
        msg: "{{ mem_out.stdout }}"
